h1.heading{
    font-family:Helvetica;
    text-align:center;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 10px;
    margin-left: 4em;
    margin-right: 4em;
    color: dimgray;
}

a.button{
    border: none;
    background-color: gray;
    padding: 15px 10px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

p.center{
    font-family:Helvetica;
    text-align:center;
    font-weight: bold;
    color: white;
}

body{
    color: white;
    font-family:Helvetica;
    font-weight: bold;
    font-size: 18px;
}


p.error{
    font-family: Helvetica;
    color: white;
}

p.message{
    font-family: Helvetica;
    color: white;
}

form.login{
    text-align:center;
}

form.action{
    text-align:center;
}

input[type=text], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=time], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: gray;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: dimgray;
}

p.intro_body{
    font-family: Helvetica;
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    margin-left: 10em;
    margin-right: 10em;
}

a.button:hover{
    background-color: dimgray;
}

table, th, td{
    border: 1px solid dimgray;
    background-color: white;
    color: gray;
    font-family: Helvetica;
    padding: 5px 5px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

