<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Register</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'styles.css')}}">
</head>
<body style="background-image:url('/static/index_page.jpg'); background-size: cover; background-color: #bfbebe; background-blend-mode: multiply;">
<h1 class = heading>Customer Register</h1>
<form class = login action="/customer_register_auth" method="POST">
    <input type="text" name = "customer_name" placeholder="Name" required/> &nbsp;
    <input type="text" name = "customer_email" placeholder="Email" required/> </br>
    <input type="password" name = "customer_password" placeholder="Password" required/> &nbsp;
    <input type="text" name = "building_number" placeholder="Building number" required/> </br>
    <input type="text" name = "street" placeholder="Street" required/> &nbsp;
    <input type="text" name = "city" placeholder="City" required/> </br>
    <input type="text" name = "state_name" placeholder="State" required/> &nbsp;
    <input type="text" name = "phone_number" placeholder="Phone number" required/> </br>
    <input type="text" name = "passport_number" placeholder="Passport number" required/> &nbsp;
    <input type="text" name = "passport_expiration" placeholder="Passport expiration: YYYY/MM/DD" required/> </br>
    <input type="text" name = "passport_country" placeholder="Passport country" required/> &nbsp;
    <input type="text" name = "date_of_birth" placeholder="Date of Birth: YYYY/MM/DD" required/> </br>
    <input type="submit" value = Register />
</form>
</body>
</html>