<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'styles.css')}}">
</head>
<body style="background-image: url('/static/index_page.jpg'); background-size: cover; background-color: #bfbebe; background-blend-mode: multiply;">
<h1 class = heading>Air Ticket Reservation System</h1>
<table>
    <th>Flight number</th>
    <th>Departure date</th>
    <th>Departure time</th>
    <th>Departure airport</th>
    <th>Arrival date</th>
    <th>Arrival time</th>
    <th>Arrival airport</th>
    {% for line in flights %}
        <tr>
            <td>{{line['flight_number']}}</td>
            <td>{{line['departure_date']}}</td>
            <td>{{line['departure_time']}}</td>
            <td>{{line['departure_airport']}}</td>
            <td>{{line['arrival_date']}}</td>
            <td>{{line['arrival_time']}}</td>
            <td>{{line['arrival_airport']}}</td>
        </tr>
    {% endfor %}
</table>
<form class = action action="/general_show_flights" method="POST">
    Departure airport: <input type="text" name = "departure_airport" placeholder="Departure airport" required/> &nbsp;
    Arrival airport: <input type="text" name = "arrival_airport" placeholder="Arrival airport" required/></br>
    Departure date: <input type="date" name = "departure_date" placeholder="Departure date: YYYY-MM-DD" required/> &nbsp;
    Arrival date: <input type="date" name = "arrival_date" placeholder="Arrival date: YYYY-MM-DD" required/></br>
    <input type="submit" value = "Show all future flights" />
    {% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<table>
    <th>Airline name</th>
    <th>Flight number</th>
    <th>Departure date</th>
    <th>Arrival date</th>
    <th>Flight status</th>
    {% for line in status %}
        <tr>
            <td>{{line['airline_name']}}</td>
            <td>{{line['flight_number']}}</td>
            <td>{{line['departure_date']}}</td>
            <td>{{line['arrival_date']}}</td>
            <td>{{line['flight_status']}}</td>
        </tr>
    {% endfor %}
</table>
<form class = action action="/general_check_status" method="POST">
    Airline name: <input type="text" name = "airline_name" placeholder="Airline name" required/> &nbsp;
    Flight number: <input type="number" name = "flight_number" placeholder="Flight number" required/></br>
    Departure date: <input type="date" name = "departure_date" placeholder="Departure date: YYYY-MM-DD" required/> &nbsp;
    Arrival date: <input type="date" name = "arrival_date" placeholder="Arrival date: YYYY-MM-DD" required/></br>
    <input type="submit" value = "Check flight status" />
    {% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<br>
<p class = center><a class = "button" href="/customer_login">Customer Login</a> &nbsp; <a class = "button" href="/customer_register">Customer Register</a></p>
<br>
<p class = center><a class = "button" href="/staff_login">Staff Login</a> &nbsp; <a class = "button" href="/staff_register">Staff Register</a></p>
</body>
</html>