<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Register</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'styles.css')}}">
</head>
<body style="background-image:url('/static/index_page.jpg'); background-size: cover; background-color: #bfbebe; background-blend-mode: multiply;">
<h1 class = heading>Staff Register</h1>
<form class = login action="/staff_register_auth" method="POST">
    <input type="text" name = "user_name" placeholder="Username" required/> &nbsp;
    <input type="password" name = "staff_password" placeholder="Password" required/></br>
    <input type="text" name = "first_name" placeholder="First name" required/> &nbsp;
    <input type="text" name = "last_name" placeholder="Last name" required/> </br>
    <input type="text" name = "date_of_birth" placeholder="Date of birth: YYYY-MM-DD" required/> &nbsp;
    <input type="text" name = "airline_name" placeholder="Airline name" required/> </br>
    <input type="text" name = "staff_phone" placeholder="Staff phone (separated by comma)" required/> &nbsp;
    <input type="text" name = "staff_email" placeholder="Staff email (separated by comma)" required/> </br>
    <input type="submit" value = "Register" />
    {% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
</body>
</html>