<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Home</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'styles.css')}}">
</head>
<body style="background-image:url('/static/index_page.jpg'); background-size: cover; background-color: #bfbebe; background-blend-mode: multiply;">
<h1 class = heading>Welcome, {{user_name}}</h1>
<table>
    <th>Flight number</th>
    <th>Departure date</th>
    <th>Departure time</th>
    <th>Departure airport</th>
    <th>Arrival date</th>
    <th>Arrival time</th>
    <th>Arrival airport</th>
    <th>Customers</th>
    {% for line in flights %}
        <tr>
            <td>{{line['flight_number']}}</td>
            <td>{{line['departure_date']}}</td>
            <td>{{line['departure_time']}}</td>
            <td>{{line['departure_airport']}}</td>
            <td>{{line['arrival_date']}}</td>
            <td>{{line['arrival_time']}}</td>
            <td>{{line['arrival_airport']}}</td>
            <td>{{line['customer_email']}}</td>
        </tr>
    {% endfor %}
</table>
<form class = action action="/staff_view_flights" method="POST">
    Departure airport: <input type="text" name = "departure_airport" placeholder="Departure airport"/> &nbsp;
    Arrival airport: <input type="text" name = "arrival_airport" placeholder="Arrival airport"/> <br>
    From: <input type="date" name = "start_date" placeholder="From: YYYY-MM-DD"/> &nbsp;
    To: <input type="date" name = "end_date" placeholder="To: YYYY-MM-DD"/> <br>
    <input type="submit" value = "View flights" />
</form>

<form class = action action="/add_flight" method="POST">
    Flight number: <input type="number" name = "flight_number" placeholder="Flight number" required/> &nbsp;
    Departure airport: <input type="text" name = "departure_airport" placeholder="Departure airport" required/> <br>
    Departure date: <input type="date" name = "departure_date" placeholder="Departure date: YYYY-MM-DD" required/> &nbsp;
    Departure time: <input type="time" name = "departure_time" placeholder="Departure time: hh:mm:ss" required/> <br>
    Arrival airport: <input type="text" name = "arrival_airport" placeholder="Arrival airport" required/> &nbsp;
    Arrival date: <input type="date" name = "arrival_date" placeholder="Arrival date: YYYY-MM-DD" required/> <br>
    Arrival time: <input type="time" name = "arrival_time" placeholder="Arrival time: hh:mm:ss" required/> &nbsp;
    Airplane identification number: <input type="number" name = "airplane_identification_number" placeholder="Airplane identification number" required/>
    <br>
    Base price: <input type="number" name = "base_price" placeholder="Base price" required/> <br>
    <input type="submit" value = "Create new flights" />
    {% if flightExistError %}
        <p class="error"><strong>Error:</strong> {{flightExistError}}</p>
    {% endif %}
    {% if noPlaneError %}
        <p class="error"><strong>Error:</strong> {{noPlaneError}}</p>
    {% endif %}
    {% if addFlightSucc %}
        <p class="message">{{addFlightSucc}}</p>
    {% endif %}
</form>

<form class = action action="/change_status" method="POST">
    Flight number: <input type="number" name = "flight_number" placeholder="Flight number" required/> &nbsp;
    Departure date: <input type="date" name = "departure_date" placeholder="Departure date: YYYY-MM-DD" required/> </br>
    Departure time: <input type="time" name = "departure_time" placeholder="Departure time: hh:mm:ss" required/> &nbsp;
    Airline name：<input type="text" name = "airline_name" placeholder="Airline name" required/> <br>
    Flight status：<input type="text" name = "flight_status" placeholder="Flight status" required/> <br>
    <input type="submit" value = "Change status of the flight" />
    {% if changeStatusError %}
        <p class="error"><strong>Error:</strong> {{changeStatusError}}</p>
    {% endif %}
    {% if changeStatusSucc %}
        <p class="message">{{changeStatusSucc}}</p>
    {% endif %}
</form>

<table>
    <th>Airplane identification number</th>
    <th>Number of seats</th>
    <th>Manufacture company</th>
    <th>Age</th>
    <th>Airline name</th>
    {% for line in airplanes %}
        <tr>
            <td>{{line['airplane_identification_number']}}</td>
            <td>{{line['number_seats']}}</td>
            <td>{{line['manufacture_company']}}</td>
            <td>{{line['age']}}</td>
            <td>{{line['airline_name']}}</td>
        </tr>
    {% endfor %}
</table>

<form class = action action="/add_airplane" method="POST">
    Airplane identification number: <input type="number" name = "airplane_identification_number" placeholder="Airplane identification number"/> &nbsp;
    Number of seats: <input type="number" name = "number_seats" placeholder="Number of seats"/> </br>
    Manufacture company: <input type="text" name = "manufacture_company" placeholder="Manufacture company"/> &nbsp;
    Age: <input type="number" name = "age" placeholder="Age"/> </br>
    <input type="submit" value = "Add new airplane in the system" />
    {% if planeExistError %}
        <p class="error"><strong>Error:</strong> {{planeExistError}}</p>
    {% endif %}
    {% if addPlaneSucc %}
        <p class="message">{{addPlaneSucc}}</p>
    {% endif %}
</form>

<form class = action action="/add_airport" method="POST">
    Airport name: <input type="text" name = "airport_name" placeholder="Airport name" required/> &nbsp;
    Airport city: <input type="text" name = "airport_city" placeholder="Airport city" required/> </br>
    Airport country: <input type="text" name = "airport_country" placeholder="Airport country" required/> &nbsp;
    Airport type: <input type="text" name = "airport_type" placeholder="Airport type" required/> <br>
    <input type="submit" value = "Add new airport in the system" />
</form>


<table>
    <th>Rating</th>
    <th>Comment</th>
    {% for line in ratings %}
        <tr>
            <td>{{line['rating']}}</td>
            <td>{{line['comment']}}</td>
        </tr>
    {% endfor %}
</table>
<br>
<table>
    <th>Average rating</th>
</table>
<form class = action action="/view_rating" method="POST">
    Flight number: <input type="number" name = "flight_number" placeholder="Flight number" required/> &nbsp;
    Departure date: <input type="date" name = "departure_date" placeholder="Departure date: YYYY-MM-DD" required/> <br>
    Departure time: <input type="time" name = "departure_time" placeholder="Departure time: hh:mm:ss" required/> &nbsp;
    Airline name: <input type="text" name = "airline_name" placeholder="Airline name" required/> <br>
    <input type="submit" value = "View flight ratings" />
</form>
<table>
    <th>Most frequent customer within the last year</th>
</table>
<form class = action action="/frequent_customer" method="POST">
    <input type="submit" value = "View frequent customer" />
</form>
<table>
    <th>Flight number</th>
    <th>Departure date</th>
    <th>Departure time</th>
    <th>Departure airport</th>
    <th>Arrival date</th>
    <th>Arrival time</th>
    <th>Arrival airport</th>
</table>
<form class = action action="/view_customer_flights" method="POST">
    <input type="text" name = "customer_email" placeholder="Customer email" required/> <br>
    <input type="submit" value = "View all flights of this customer" />
</form>
<table>
    <th>Date range</th>
    <th>Tickets sold</th>
</table>

<form class = action action="/view_reports" method="POST">
    From: <input type="date" name = "start_date" placeholder="From: YYYY-MM-DD"/> &nbsp;
    To: <input type="date" name = "end_date" placeholder="To: YYYY-MM-DD"/> <br>
    <input type="submit" value = "View reports" />
</form>

<table>
    <th>Date Range</th>
    <th>Total revenue</th>
</table>

<form class = action action="/view_revenue" method="POST">
    <input type="submit" value = "View earned revenue" />
</form>

<form class = action action="/staff_logout" method="POST">
    <input type="submit" value = "Logout" />
</form>
</body>
</html>