<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Login</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'styles.css')}}">
</head>
<body style="background-image:url('/static/index_page.jpg'); background-size: cover; background-color: #bfbebe; background-blend-mode: multiply;">
<h1 class = heading>Staff Login</h1>
<form class = login action="/staff_login_auth" method="POST">
    <input type="text" name = "user_name" placeholder="Username" required/> </br>
    <input type="password" name = "staff_password" placeholder="Password" required/></br>
    <input type="submit" value = Login />
    {% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
    <br>
</form>
<br>
<p class = center><a class = "button" href="/">Go Back</a></p>
</body>
</html>