<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body style="background-image:url('images/index_page.jpg'); background-size: cover; background-color: #bfbebe; background-blend-mode: multiply;">
<h1 class = heading>Welcome, {{user_name}}</h1>
<table>
    <th>Flight number</th>
    <th>Departure date</th>
    <th>Departure time</th>
    <th>Departure airport</th>
    <th>Arrival date</th>
    <th>Arrival time</th>
    <th>Arrival airport</th>
    <th>Customers</th>
</table>
<form class = action action="/staff_view_flights" method="POST">
    <input type="text" name = "flight_number" placeholder="Flight number" required/> &nbsp;
    <input type="text" name = "departure_date" placeholder="Departure date" required/> &nbsp;
    <input type="text" name = "airline_name" placeholder="Airline name" required/> <br>
    <input type="submit" value = "View flights" />
</form>

<form class = action action="/staff_create_flight" method="POST">
<input type="text" name = "flight_number" placeholder="Flight number" required/> &nbsp;
<input type="text" name = "departure_date" placeholder="Departure date: YYYY-MM-DD" required/> &nbsp;
<input type="text" name = "airline_name" placeholder="Airline name" required/> <br>
<input type="submit" value = "Create new flights" />
</form>

<form class = action action="/change_status" method="POST">
    <input type="text" name = "flight_number" placeholder="Flight number" required/> &nbsp;
    <input type="text" name = "departure_date" placeholder="Departure date: YYYY-MM-DD" required/> </br>
    <input type="text" name = "airline_name" placeholder="Airline name" required/> &nbsp;
    <input type="text" name = "flight_status" placeholder="New status" required/> <br>
    <input type="submit" value = "Change status of the flight" />
</form>

<form class = action action="/add_airplane" method="POST">
    <input type="text" name = "airplane_identification_number" placeholder="Airplane identification number" required/> &nbsp;
    <input type="text" name = "number_of_seats" placeholder="Number of seats" required/> </br>
    <input type="text" name = "manufacture_company" placeholder="Manufacture company" required/> &nbsp;
    <input type="text" name = "age" placeholder="Age" required/> </br>
    <input type="text" name = "airline_name" placeholder="airline name" required/> <br>
    <input type="submit" value = "Add new airplane in the system" />
</form>

<form class = action action="/add_airport" method="POST">
    <input type="text" name = "airport_name" placeholder="Airport name" required/> &nbsp;
    <input type="text" name = "airport_city" placeholder="Airport city" required/> </br>
    <input type="text" name = "airport_country" placeholder="Airport country" required/> &nbsp;
    <input type="text" name = "airport_type" placeholder="Airport type" required/> <br>
    <input type="submit" value = "Add new airport in the system" />
</form>
<table>
    <th>Rating</th>
    <th>Comment</th>
</table>
<br>
<table>
    <th>Average rating</th>
</table>
<form class = action action="/view_rating" method="POST">
    <input type="text" name = "flight_number" placeholder="Flight number" required/> &nbsp;
    <input type="text" name = "departure_date" placeholder="Departure date: YYYY-MM-DD" required/> &nbsp;
    <input type="text" name = "airline_name" placeholder="Airline name" required/> <br>
    <input type="submit" value = "View flight ratings" />
</form>
<table>
    <th>Most frequent customer within the last year</th>
</table>
<form class = action action="/frequent_customer" method="POST">
    <input type="submit" value = "View frequent customer" />
</form>
<table>
    <th>Flight number</th>
    <th>Departure date</th>
    <th>Departure time</th>
    <th>Airline name</th>
</table>
<form class = action action="/view_customer_flights" method="POST">
    <input type="text" name = "customer_email" placeholder="Customer email" required/> <br>
    <input type="submit" value = "View all flights of this customer" />
</form>
<table>
    <th>Date range</th>
    <th>Tickets sold</th>
</table>

<form class = action action="/view_reports" method="POST">
    <input type="submit" value = "View reports" />
</form>

<table>
    <th>Date Range</th>
    <th>Total revenue</th>
</table>

<form class = action action="/view_revenue" method="POST">
    <input type="submit" value = "View earned revenue" />
</form>

<form class = action action="/staff_logout" method="POST">
    <input type="submit" value = "Logout" />
</form>
</body>
</html>